* {
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.footer-section-tail-responsive,
.navbar-drop-down-menu {
  display: none;
}
/* Main container */
.container {
  width: 100%;
  height: fit-content;
  padding: 0 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navigation bar at the top */
.navbar {
  width: 100%;
  height: 121px;
  padding: 54px 0 20px 0px;
}
.navbar-heading {
  padding: 1px 5.78px 0.4px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hamburger-icon {
  display: none;
}

.navbar-social-media {
  width: 101px;
  position: absolute;
  top: 15px;
  left: 1275px;
  display: flex;
  gap: 16px;
}

.navbar-social-media-facebook {
  width: 8.8px;
  height: 15.5px;
  text-decoration: none;
  color: #000000;
}
.navbar-social-media-instagram {
  width: 14px;
  height: 14px;
  border: 0.8px 0px 0px 0px;
  text-decoration: none;
  color: #000000;
}
.navbar-social-media-twitter {
  width: 15.2px;
  height: 14.11px;
  text-decoration: none;
  color: #000000;
}
.navbar-social-media-linkedin {
  width: 15px;
  height: 15px;
  border: 0.7px 0px 0px 0px;
  text-decoration: none;
  color: #000000;
}
.navbar-heading-end {
  height: 29px;
  display: flex;
  gap: 32px;
  align-items: center;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 300;
  line-height: 22.5px;
}

.navbar-heading-end a {
  text-decoration: none;
  color: #000000;
}

/* The box with notification icon and username */
.notification-user-box {
  width: 160px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification-user-box .notification {
  width: 20px;
  height: 20px;
}
.notification-user-box .user {
  width: 114px;
  height: 29px;
  left: 620px;
}

.notification-box {
  width: 24px;
  height: 24px;
  top: 2px;
  left: 574px;
}

.navbar-catch {
  width: 770px;
  height: 7px;
  position: absolute;
  top: 80px;
  left: 640px;
  opacity: 0.5;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
  line-height: 56.74px;
  letter-spacing: -0.035em;
  text-align: center;
}

/* End of navigation bar */

/* Searching Car Section  */

.main-search {
  width: 100%;
  height: 227px;
  padding: 14px 0 14px 64px;
  display: flex;
  border: 0.5px solid #ffffff;
  border-radius: 20px;
  background-image: url('./public/images/part2.svg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}

.main-search-type {
  width: 480px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.same-pick-up {
  font-family: Poppins;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: -0.035em;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
}

.diff-drop-off {
  opacity: 0.7;
  color: #ffffff;
  font-family: Poppins;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: -0.035em;
}

.select-vehicle select {
  width: 169px;
  height: 29px;
  border-radius: 24px;
  font-family: Poppins;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: #ffffff;
  padding: 4px;
}
.select-vehicle option {
  color: #000000;
}

.main-search-browse {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  height: 42px;
}

.main-search-location {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main-search-location,
.main-search-from-date,
.main-search-to-date {
  width: 188px;
  height: 42px;
  border-radius: 18px;
  background: #ffffff;
  font-family: Poppins;
}

.main-search-location .icons {
  width: 9px;
  height: 12px;
}

.main-search-location div {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.main-search-from-date,
.main-search-to-date {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: Poppins;
  font-size: 12px;
}

.main-search-from-date .icons,
.main-search-to-date .icons {
  width: 16px;
  height: 12px;
}

.main-search-search-button {
  width: 64px;
  height: 42px;
  border-radius: 29px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-search-quick-book {
  width: 232px;
  height: 42px;
  padding-left: 4%;
  border-left: 1px solid #ffffff;
}

.main-search-quick-book-content {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  width: 100%;
  height: 2.6rem;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #ffffff;
  color: #ffffff;
}

.main-search-end {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  text-align: left;
  color: #ffffff;
}

.appstore-download,
.playstore-download {
  width: 112px;
  height: 32px;
  top: 281px;
  left: 581px;
  border-radius: 28px;
  border: 1px solid #ffffff;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
}

.appstore-download img,
.playstore-download img {
  width: 16px;
}
.appstore-content,
.playstore-content {
  display: flex;
  flex-direction: column;
  font-size: 6px;
}

.appstore-content h5,
.playstore-content h5 {
  font-size: 12px;
  font-weight: 400;
  height: 24px;
}

.appstore-content p,
.playstore-content p {
  height: 14px;
}

.book-quickbook-car {
  display: none;
}
.contact-icons-phone {
  width: 48px;
  height: 45px;
  position: absolute;
  top: 152px;
  right: 10px;
  border-radius: 28.5px 0px 0px 28.5px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.contact-icons-24-7 {
  width: 48px;
  height: 45px;
  position: absolute;
  top: 216px;
  right: 10px;
  border-radius: 28.5px 0px 0px 28.5px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px #00000040;
}

/*End of Searching Car Section  */

/* Cover Image Section  */

.main-cover-image {
  margin-top: 1%;
  background-image: url('./public/images/cover-image.svg');
  background-position: center;
  background-size: cover;
  border-radius: 24px;
  width: 100%;
  height: 54vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 140px;
}

.main-cover-image-text {
  font-family: Poppins;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 88px;
}

.main-cover-image-text-one {
  display: flex;
  align-items: center;
  gap: 10px;
}
.gift-voucher {
  width: 153px;
  height: 32px;
  border-radius: 32px;
  background-color: #009046;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*End of Cover Image Section */

/* Popular Car Section  */

.popular-car-section {
  width: 100vw;
  height: fit-content;
  padding-left: 40px;
  font-family: Poppins;
}

.popular-car-section p {
  margin: 40px;
  font-size: 36px;
  font-weight: 400;
  line-height: 52.11px;
  text-align: center;
}

.book-car-section {
  width: 100%;
  height: fit-content;
  display: flex;
  padding-left: 32px;
  padding-right: 24px;
  overflow-x: scroll;
  gap: 32px;
}

.book-car-section img {
  width: 360px;
  height: 290px;
}

.car-one,
.car-two {
  display: flex;
  align-items: center;
}

.car-one-content,
.car-two-content {
  width: 394px;
  height: 290px;
  border: 1px solid #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.car-one-content .car-description,
.car-two-content .car-description {
  font-size: 12px;
  font-weight: 400;
  line-height: 18.5px;
  text-align: left;
}

.car-description-responsive {
  display: none;
}

.car-one-description,
.car-two-description {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.car-one-content p,
.car-two-content p {
  margin: 10px 20px 0 30px;
}
.car-one-content .car-title,
.car-two-content .car-title {
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  margin-top: 40px;
}

.car-one-features-cum-book,
.car-two-features-cum-book {
  width: 80%;
  height: 100px;
}

.car-one-features-cum-book img,
.car-two-features-cum-book img {
  width: 300px;
  height: 17px;
}

.car-booking {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.car-booking p {
  width: 152px;
  height: 30px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  margin: 0;
  margin-top: 16px;
}

.car-booking .book-now {
  width: 104px;
  height: 37px;
  padding: 7px 7px 0px 7px;
  gap: 8px;
  border-radius: 4px;
  background-color: #e21e26;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #ffffff;
}

/* End of Popular Car Section  */

/* Subscribe Section  */

.subscribe-section {
  width: 100%;
  height: 67vh;
  margin: 130px;
  margin-bottom: 20px;
  display: flex;
}

.subscribe-section-part-one,
.subscribe-section-part-two {
  width: 50%;
  padding: 0 40px;
  padding-top: 50px;
}

.subscribe-section-part-one .subscribe-here {
  font-family: Poppins;
  font-size: 34px;
  font-weight: 400;
  line-height: 51px;
  text-align: left;
  padding-bottom: 40px;
}

.subscribe-form {
  display: flex;
  gap: 20px;
}

.subscribe-form input {
  width: 223px;
  height: 45px;
  border-radius: 5px;
  background-color: #f8f8f8;
  border: none;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding-left: 20px;
}

.subscribe-section-part-one .subscribe-catch {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  text-align: left;
  padding-right: 40px;
}

.subscribe-section-part-one .subscribe-catch-responsive {
  display: none;
}

.subscribe-section-part-one button {
  width: 464px;
  height: 57.08px;
  border-radius: 5px;
  background-color: #e21e26;
  color: #ffffff;

  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  border: none;
  margin-top: 40px;
}

.subscribe-section-part-two {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #e21e26;
}

.subscribe-section-part-two .subscribe-phone-image {
  padding-left: 20px;
}

.get-links-responsive {
  display: none;
}

.subscribe-phone-details-responsive {
  display: none;
}

.subscribe-phone-details {
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-right: 35px;
}

.subscribe-phone-details p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21.5px;
  text-align: left;
  color: #ffffff;
}
.subscribe-phone-details input {
  width: 263px;
  height: 45px;
  border-radius: 5px;
  background-color: #f8f8f8;
  border: none;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding-left: 20px;
  margin: 12px 0;
}

.subscribe-phone-details button {
  width: 144px;
  height: 42px;
  padding: 12px 30px;
  border-radius: 8px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-top: 12px;
}

.subscribe-phone-details .get-links {
  margin-top: 50px;
  margin-bottom: 20px;
}

.download-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.download-appstore,
.download-playstore {
  width: 104px;
  height: 30px;
  border-radius: 27px;
  border: 0.3px solid #ffffff;
  background-color: #f2f2f22b;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 7px;
}

.download-appstore h5,
.download-playstore h5 {
  font-family: Poppins;
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
}

.download-appstore p,
.download-playstore p {
  font-size: 6px;
  font-weight: 200;
}

/* End of Subscribe Section  */

/* Rent/Lease Section  */

.rent-lease-section {
  width: 100%;
  height: fit-content;
  padding: 20px;
}

.rent-lease-section-title {
  font-family: Poppins;
  font-size: 34px;
  font-weight: 400;
  line-height: 51px;
  text-align: center;
  margin-bottom: 30px;
}

.rent-lease-section-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.rent-lease-section-content-title {
  display: flex;
  justify-content: space-around;
}
.rent-lease-section-content-title p {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 400;
  /* line-height: 32px; */
  text-align: center;
  color: #e21e26;
  background-color: #ffffff;
  margin: 8px;
  width: 64px;
  height: 52px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 0px #e4e3e380;
}

.rent-lease-section-content-description {
  width: 348px;
  height: 178px;
  border: 1px solid #000000;
  text-align: center;
  padding: 16px;
}

.rent-lease-section-content-description p {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.5px;
  text-align: center;
  padding: 20px;
}

/* End of Rent/Lease Section  */

/* Locations Section  */

.location-section {
  width: 90%;
  height: 45vh;
  padding: 20px;
  background-color: #000000;
  margin: 56px auto;
}

.location-section h2 {
  font-family: Poppins;
  font-size: 34px;
  font-weight: 400;
  line-height: 51px;
  text-align: center;
  color: #ffffff;
  padding: 32px;
  padding-bottom: 40px;
}

.different-locations {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
}

.different-locations p {
  font-family: Open Sans;
  font-size: 18.81px;
  font-weight: 500;
  line-height: 25.62px;
  text-align: left;
  color: #ffffff;
  opacity: 0.8;
}

.different-locations .bar {
  width: 41px;
  border: 1px;
  opacity: 0.2;
  rotate: 90deg;
  border: 1px solid #ffffff;
}
.location {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* End of Location Section  */

/* FAQ Section  */

.faq-section {
  width: 95%;
}

.faq-section h2 {
  font-family: Poppins;
  font-size: 34px;
  font-weight: 400;
  line-height: 51px;
  text-align: center;
  margin-bottom: 32px;
}

.faq-section-contents-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.faq-section-contents-title .hideDescription {
  display: none;
}

.faq-section-contents-bar {
  width: 90vw;
  height: 3px;
  margin: auto;
  padding: 1.5px 0px 1.5px 0px;
  background-color: #cdd6da;
  opacity: 25%;
}
.faq-section-contents-title img {
  width: 16px;
  height: 16px;
}

.faq-section-contents-title h3 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: left;
}

.faq-section-contents-title.show {
  background-color: #cdd6da;
}

.faq-section-contents-description {
  background-color: #cdd6da;
  display: none;
}

.faq-section-contents-description p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.71px;
  text-align: left;
  padding: 30px;
  opacity: 0.5;
}
/* End of FAQ Section  */

/* Footer Sectoin  */

.footer-section {
  width: 100%;
  height: 40vh;
  margin-top: 80px;
  background-color: #000000;
  color: #ffffff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
}

.footer-section-head {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding-top: 24px;
  /* padding-bottom: 20px; */
  height: 32vh;
}

.footer-section-head-part-one {
  display: flex;
  flex-direction: column;
}

.footer-section-head-part-one img {
  width: 56px;
  height: 64px;
  padding-bottom: 10px;
}

.footer-section-head-part-one p {
  width: 112px;
  font-size: 12px;
}

.footer-section-head-part-two {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.footer-section-head-part-two div {
  display: flex;
  justify-content: space-between;
}

.footer-section-head-part-two div div {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer-section-head-part-two p {
  padding: 8px;
  font-size: 13px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: left;
}

.footer-section-head-part-three {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-section-head-part-three div {
  display: flex;
  gap: 15px;
}

.footer-section-head-part-three .global-sign {
  width: 64px;
  height: 24px;
}

.footer-section-responsive {
  display: none;
}
.footer-section-tail {
  border-top: 0.5px solid #939393;
}

.footer-section-tail p {
  padding: 16px 0;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}
/* End of Footer Section  */

/* Responsive Breakpoint #1 */

@media (max-width: 1439px) {
  /* Exclusions  */

  .navbar-social-media,
  .navbar-heading-end,
  .navbar-catch,
  .main-search-type,
  .main-search-browse,
  .subscribe-section-part-one .subscribe-catch,
  .subscribe-phone-details,
  .different-locations .bar,
  .footer-section-responsive,
  .footer-section-tail-responsive {
    display: none;
  }

  /* Main Container Rsponsivenes  */

  .container {
    padding: 0 20px;
    overflow-x: hidden;
  }
  .navbar {
    padding-top: 20px;
    padding-bottom: 0;
  }
  .navbar-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hamburger-icon {
    display: block;
  }

  .navbar-drop-down-menu {
    width: 72vw;
    height: 60vh;
    background-color: #ffffff;
    position: fixed;
    right: 0;
    top: 0;
    padding: 56px 32px;
    z-index: 155;
    display: none;
    flex-direction: column;
    opacity: 1;
  }

  .navbar-drop-down-menu img {
    position: fixed;
    width: 20px;
    height: 20px;
    top: 16px;
    right: 32px;
  }

  .navbar-drop-down-menu a {
    padding: 20px 0;
    padding-right: 80px;
    display: block;
    width: 56vw;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    border-bottom: 0.5px solid #0000001a;
    text-decoration: none;
    color: #000000;
  }

  .navbar-drop-down-menu p:nth-last-child(2) {
    border-bottom: none !important;
  }

  .navbar-drop-down-menu span {
    width: 143px;
    height: 29px;
    position: absolute;
    top: 465px;
    left: 24px;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
    border-radius: 36px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
  }

  .container.fade {
    opacity: 0.6;
  }
  /* Main Search Section  */

  .main-search {
    padding: 0;
    width: 100%;
  }

  .main-search-end {
    margin: 0 auto;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .download-links-responsive {
    margin: 16px;
    display: flex;
    gap: 24px;
  }

  .appstore-download,
  .playstore-download {
    width: 118px;
    height: 40px;
    border-radius: 24px;
  }

  .appstore-download img,
  .playstore-download img {
    width: 20px;
  }

  .appstore-content h5,
  .playstore-content h5 {
    font-size: 13px;
    font-weight: 400;
    height: 36px;
  }

  /* Main Cover Image  */

  .main-cover-image {
    width: 100%;
    background-position: center;
  }

  /* Popular car Section  */

  .popular-car-section {
    width: 100vw;
    padding-left: 20px;
    height: fit-content;
  }

  .popular-car-section p {
    margin-left: 0;
    font-size: 36px;
    font-weight: 400;
    line-height: 52.11px;
    text-align: left;
  }

  .car-one,
  .car-two {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .car-one img,
  .car-two img {
    width: 44vw;
  }

  .car-one-content,
  .car-two-content {
    width: 44vw;
    height: fit-content;
  }

  .car-one-content .car-title,
  .car-two-content .car-title {
    font-size: 24px;
    margin-top: 28px;
  }

  .car-one-features-cum-book,
  .car-two-features-cum-book {
    padding-top: 10px;
    width: 100%;
    height: 112px;
  }

  .car-one-features-cum-book img,
  .car-two-features-cum-book img {
    width: 42vw;
  }

  .car-booking {
    flex-direction: column;
    align-items: start;
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .car-booking p {
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    margin: 0;
  }

  .car-booking .book-now {
    width: 144px;
    height: 40px;
    padding: 12px;
  }

  /* Subscribe Scetion  */

  .subscribe-section {
    width: 100%;
    height: fit-content;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .subscribe-section-part-one,
  .subscribe-section-part-two {
    width: 100%;
    /* padding: 50px 112px 0 30px; */
    margin: auto;
  }

  .subscribe-section-part-one .subscribe-here {
    padding-bottom: 16px;
  }

  .subscribe-form {
    flex-direction: column;
    gap: 16px;
    justify-content: space-around;
  }

  .subscribe-form input {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    background-color: #f8f8f8;
    border: none;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    padding-left: 20px;
  }

  .subscribe-section-part-one .subscribe-catch-responsive {
    display: block;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    text-align: left;
    padding-right: 40px;
    padding-top: 24px;
  }

  .subscribe-section-part-one button {
    width: 100%;
    margin-bottom: 24px;
  }

  .subscribe-section-part-two {
    width: 100%;
    padding: 0;
    padding-left: 8%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    background-color: #e21e26;
    border-radius: 10px;
  }

  .subscribe-section-part-two .subscribe-phone-image {
    display: flex;
    gap: 4%;
    padding-left: 20px;
  }

  .subscribe-phone-image {
    display: flex;
  }

  .subscribe-phone-details-responsive {
    display: block;
  }

  .subscribe-phone-details-responsive {
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    padding-right: 35px;
    padding-top: 20px;
  }

  .subscribe-phone-details-responsive .download-links {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  }

  .subscribe-phone-details-responsive .download-appstore,
  .subscribe-phone-details-responsive .download-playstore {
    width: 16vw;
    gap: 4px;
    padding: 3px 12px;
  }

  .subscribe-phone-details-responsive .download-appstore h5,
  .subscribe-phone-details-responsive .download-playstore h5 {
    font-family: Poppins;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    height: 24px;
  }

  .subscribe-phone-details-responsive .download-appstore p,
  .subscribe-phone-details-responsive .download-playstore p {
    font-size: 9px;
    font-weight: 200;
  }

  .subscribe-phone-details-responsive p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 25.5px;
    text-align: left;
    color: #ffffff;
  }

  .get-links-responsive {
    display: flex;
    flex-direction: column;
    width: 400px;
  }

  .get-links-responsive input {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    background-color: #f8f8f8;
    border: none;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    padding-left: 20px;
    margin: 12px 0;
  }

  .get-links-responsive button {
    width: 144px;
    height: 42px;
    padding: 12px 30px;
    border-radius: 8px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 12px;
  }

  /* Rent/Lease Section  */

  .rent-lease-section {
    width: 100%;
  }

  .rent-lease-section-title {
    font-size: 28px;
    text-align: left;
    margin-bottom: 10px;
  }

  .rent-lease-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  /* Location Section  */

  .location-section {
    height: 40vh;
    padding: 0px;
    margin: 0 auto;
  }

  .location-section h2 {
    font-size: 28px;
    text-align: left;
  }

  .different-locations {
    gap: 20px;
    padding: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .different-locations p {
    width: fit-content;
  }

  /* FAQ Section  */

  .faq-section {
    width: 100%;
  }

  /* Footer Section  */

  .footer-section {
    width: 100%;
    height: 45vh;
  }

  .footer-section-head {
    padding-top: 24px;
    height: 38vh;
  }
  .footer-section-head-part-two {
    width: 60%;
  }
}

/* Responsive Breakpoint #2 */

@media (max-width: 600px) {
  .footer-section-head,
  .footer-section-tail,
  .car-description {
    display: none;
  }

  .container {
    padding: 0;
    z-index: 100;
    /* overflow-x: hidden; */
  }

  .container.fade {
    opacity: 0.6;
  }

  /* Navbar Section  */
  .navbar {
    height: fit-content;
    margin-bottom: 24px;
  }

  .navbar-heading .main-logo {
    width: 256px;
  }

  /* .navbar-drop-down-menu {
    width: 96vw;
    height: 80vh;
    background-color: #ffffff;
    position: fixed;
    right: 0;
    top: 0;
    padding: 56px 32px;
    z-index: 155;
    display: none;
    flex-direction: column;
    opacity: 1;
  } */

  /* .navbar-drop-down-menu img {
    position: fixed;
    width: 20px;
    height: 20px;
    top: 16px;
    right: 84px;
  }

  .navbar-drop-down-menu p {
    padding: 20px 0;
    padding-right: 80px;
    width: 56vw;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    border-bottom: 0.5px solid #0000001a;
  }

  .navbar-drop-down-menu p:nth-last-child(2){
    border-bottom: none !important;
  }

  .navbar-drop-down-menu span {
    width: 143px;
    height: 29px;
    position: absolute;
    top: 465px;
    left: 24px;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
    border-radius: 36px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
  } */

  /* Main Search Section  */

  .main-search {
    height: fit-content;
    width: 92vw;
    padding: 16px;
  }
  .main-search-end {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    width: 100%;
  }

  .appstore-content h5,
  .playstore-content h5 {
    height: 24px;
  }

  .book-quickbook-car {
    display: flex;
    flex-direction: column;
  }
  .book-quickbook-car-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
    padding: 16px 0;
  }

  .book-quickbook-car button {
    width: 160px;
    height: 38px;
    border-radius: 4px;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 600;
    line-height: 19.5px;
    color: #e21e26;
    border: 1px solid #e21e26;
  }
  .book-quickbook-car .book-car {
    background-color: #e21e26;
    color: #ffffff;
  }

  .book-quickbook-car-dropdown_menu {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .book-car-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
    width: 100%;
  }

  .book-car-options p {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.035em;
    text-align: left;
    opacity: 0.7;
  }

  .book-car-options .differnt-drop,
  .same-pick.active,
  .differnt-drop.active {
    opacity: 1;
    color: #000000;
    border-bottom: 1px solid #000000;
  }

  .differnt-drop.inactive,
  .same-pick.inactive {
    opacity: 0.7;
    border-bottom: none;
  }

  .book-car-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: center;
    width: 100%;
  }
  .book-car-details .book-car-details-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
  }

  .book-car-details-heading {
    padding: 16px;
    border-radius: 8px;
    background-color: #f6f7f9;
  }

  .book-car-details-heading div {
    display: flex;
    justify-content: normal;
    align-items: center;
    gap: 12px;
  }

  .book-car-search {
    margin: 24px 0;
    font-size: 14px !important;
    line-height: 21px !important;
    background-color: #e21e26;
    color: #ffffff !important;
  }
  .vehicle-type {
    appearance: none;
    font-family: Poppins;
    font-size: 13px;
    border: none;
    background-image: url('./public/images/down-arrow-black.svg');
    background-repeat: no-repeat;
    background-position: right 0px center;
    background-size: 10px;
    padding-right: 14px;
  }

  /* Contact Icons   */

  .contact-icons-phone {
    width: 40px;
    height: 40px;
    top: 112px;
    right: 0;
  }
  .contact-icons-24-7 {
    width: 40px;
    height: 40px;
    top: 160px;
    right: 0;
  }

  .contact-icons-phone img,
  .contact-icons-24-7 img {
    width: 60%;
  }

  /* Main Cover Image  */

  .main-cover-image {
    height: 30vh;
    background-size: cover;
    border-radius: 0;
  }

  .main-cover-image-text {
    font-size: 9.8px;
    font-weight: 400;
    line-height: 14.35px;
    text-align: left;
    padding-left: 0;
  }
  .main-cover-image-text-one {
    gap: 4px;
  }
  .gift-voucher {
    width: fit-content;
    height: fit-content;
    font-size: 8px;
    border-radius: 0;
    padding: 3px;
  }

  /* Popular Car Section  */

  .popular-car-section {
    max-width: 100vw;
    padding: 0;
    margin-left: 32px;
    overflow-x: scroll;
  }
  .popular-car-section p {
    font-size: 16px;
    margin: 20px;
    margin-left: 0;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }

  .book-car-section .car-images {
    width: fit-content;
    height: 164px;
    background-size: cover;
    border-radius: 10px 10px 0 0;
  }

  .car-one,
  .car-two {
    width: fit-content;
  }

  .car-one-content,
  .car-two-content {
    width: 207px;
    height: 206px;
    flex-direction: column;
  }

  .car-one-content .car-title,
  .car-two-content .car-title {
    font-size: 16px;
    margin: 0;
    margin-top: 16px;
    margin-left: 12px;
    opacity: 1;
  }

  .car-one-description .car-description-responsive,
  .car-two-description .car-description-responsive {
    padding-left: 12px;
    padding-bottom: 8px;
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    opacity: 0.75;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .car-description-responsive {
    display: block;
  }

  .car-one-features-cum-book,
  .car-two-features-cum-book {
    overflow: hidden;
  }
  .car-one-features-cum-book img,
  .car-two-features-cum-book img {
    width: 80vw;
    background-size: cover;
  }

  .car-one-features-cum-book p,
  .car-two-features-cum-book p {
    font-size: 13px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: left;
    margin: 0;
  }

  /* Subscribe Section  */

  .subscribe-section-part-one,
  .subscribe-section-part-two {
    padding-top: 32px;
    padding-right: 8px;
  }
  .subscribe-section-part-one .subscribe-here {
    font-size: 16px;
    line-height: 24px;
  }

  .subscribe-section-part-one .subscribe-catch-responsive {
    font-size: 12px;
    line-height: 18px;
  }

  .subscribe-section-part-one button {
    width: 32vw;
    height: 48px;
    font-size: 13px;
    line-height: 19.5px;
    margin-top: 24px;
  }

  .subscribe-section-part-two {
    width: 90%;
    margin: 0 auto;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 4vh;
  }

  .subscribe-section-part-two .subscribe-phone-image {
    padding-left: 0;
  }

  .subscribe-section-part-two .subscribe-phone-image img {
    width: 40vw;
  }

  .subscribe-phone-details-responsive {
    justify-content: space-evenly;
    padding-right: 35px;
    padding-top: 0;
  }

  .subscribe-phone-details-responsive .download-appstore,
  .subscribe-phone-details-responsive .download-playstore {
    width: 28vw;
    height: 32px;
    gap: 4px;
    padding: 3px 12px;
  }

  .subscribe-phone-details-responsive .download-appstore h5,
  .subscribe-phone-details-responsive .download-playstore h5 {
    font-size: 10px;
    font-weight: 400;
    height: 24px;
  }

  .subscribe-phone-details-responsive .download-appstore p,
  .subscribe-phone-details-responsive .download-playstore p {
    font-size: 7px;
    font-weight: 100;
    line-height: 24px;
  }

  .subscribe-phone-details-responsive .download-appstore img,
  .subscribe-phone-details-responsive .download-playstore img {
    width: 16px;
  }

  .subscribe-phone-details-responsive p {
    font-size: 12px;
    line-height: 15.6px;
  }

  .get-links-responsive {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 95%;
  }

  /* Rent/Lease Section */

  .rent-lease-section-content-description {
    width: 90vw;
  }
  .rent-lease-section-title {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 10px;
  }

  /* Location Section  */

  .location-section {
    width: 88%;
    height: fit-content;
  }
  .location-section h2 {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    padding: 16px;
  }

  .different-locations {
    justify-content: left;
  }

  .different-locations p {
    font-size: 14px;
    line-height: 19px;
  }

  .different-locations img {
    width: 16px;
  }

  /* FAQ Section  */

  .faq-section h2 {
    font-size: 16px;
    line-height: 0;
    padding: 32px;
    padding-bottom: 16px;
    text-align: left;
    margin: 0;
  }
  .faq-section-contents-title {
    padding: 16px;
  }
  .faq-section-contents-title h3 {
    font-size: 13px;
  }

  .faq-section-contents-title img {
    width: 8px;
    height: 8px;
  }

  .faq-section-contents-description p {
    padding: 16px;
    padding-top: 8px;
    font-size: 12px;
    line-height: 15.66px;
    color: #000000;
    opacity: 1;
    font-weight: 400;
  }
  /* Footer Section  */

  .footer-section {
    width: 100%;
    height: 40vh;
    margin-top: 64px;
    color: #000000;
    background-color: #ffffff;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 300;
    line-height: 21px;
    text-align: left;
  }

  .footer-section-responsive {
    display: block;
    background-color: #f6f7f9;
  }

  .footer-section-head-part-one {
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
  }

  .footer-section-head-part-one img {
    width: 36vw;
  }
  .footer-section-head-part-one p {
    height: fit-content;
  }
  .footer-section-head-part-one div {
    display: flex;
    justify-content: end;
  }

  .footer-section-head-part-one .icons-pack {
    width: 40vw;
    display: flex;
    justify-content: space-between;
  }

  .footer-section-head-part-one .icons {
    width: 16px;
    height: 64px;
  }

  .footer-section-head-part-two {
    margin: auto;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .footer-section-tail-responsive {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 8px;
    font-size: 13px;
    font-weight: 500;
    line-height: 19.5px;
    align-items: center;
    padding: 16px 0;
  }
  .footer-section-tail-responsive div {
    display: flex;
    gap: 32px;
    padding: 16px;
    padding-bottom: 0;
    justify-content: space-around;
  }

  .footer-section-tail-responsive img {
    width: 88px;
    margin: 16px 0;
  }
  .footer-section-tail-responsive p {
    font-size: 11px;
    line-height: 16px;
  }

  .footer-section-tail-responsive .border {
    height: 0.5px;
    width: 100%;
    margin-bottom: 16px;
    background-color: #ffffff;
    opacity: 0.5;
  }
}
